h1 {
    color: rgb(255, 225, 0);
    font-size: 100px;
    top: 50px;
    font-family: "Jersey 25";
    text-align: center;
    position: absolute;
    z-index: 1;
}

.jersey-25-regular {
  font-family: "Jersey 25", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#start-screen{
    background-image: url(/img/background/bg.png);
    background-size: cover;
    width: 1200px;
    height: 800px;

    position: relative;
    overflow: hidden;
    user-select: none;

}

#salpicadero{
    position: absolute;
    bottom: -200px;
    width: 100%;
}
#start-btn {
    position: absolute;
    right: 50px;
    bottom: 20px;
    z-index: 1;

}

#start-btn:hover {
    content: url("img/menu /startHover.png"); /* imagen al pasar el ratón */
}

#game-box {
  background-image: url("img/background/bg.png");
  background-size: cover;
  width:1200px;
  height:800px;
  align-content: center;

  position: relative; /* allows us to position inner elements (absolute) related the the game-box */
  overflow: hidden; /* prevents elements to visually exit the game-box */
  user-select: none; /* prevents elements inside the game-box to be highlighted. This improves the user experience for click events on the game-box */

}

#game-box * {
  pointer-events: none; /* prevents elements in the game-box to be dragged. This improves the user experience for click events on the game-box  */
}

#game-screen, #game-over-screen{
  display: none;
}

#game-screen{
    display: none;
    width: 1200px;
    height: 800px;
}

#car{
    position: absolute;
    bottom: 10px;
    right: 50px;
    width: 600px;
}